<html>
    <head>
        <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <title>GW2 Trading Post Profit Margins</title>
    </head>
    <body>
        <p>
            Please input the names of the items you would like track on the GW2 Trading Post. <br />
            Input the items in a comma-deliminated list.  eg: item1, item2, item3, ... <br />
        </p>
        <form action='/', method='POST'>
            Items: <input type="text" name="items"> <br />
            <input type="submit">
        </form>
        <script type="text/javascript">
            $.getJSON('/_ProcessItemList', function(data) {
                document.write(data)

            });
        </script>
    </body>
</html>
