<html>
    <head>
        <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <title>GW2 Trading Post Profit Margins</title>
    </head>
    <body>
        <p>
            Please input the names of the items you would like track on the GW2 Trading Post. <br />
            Input the items in a comma-deliminated list.  eg: item1, item2, item3, ... <br />
        </p>
        <form action='', id='form'>
            Items: <input type="text" name="items"> <br />
            <input type="submit", value='Submit', onclick='getUserInputItems()'>
        </form>

        <p id='form_info'></p>

        <script>
            $(document).ready(function() {
                $(document).on('submit', 'form', function() {
                    var data = {'data': document.getElementById('form').elements[0].value}
                    $.ajax({
                        url: '/',
                        type: 'POST',
                        data: $('#form').serialize(),
                        success: function(msg) {
                            alert('Email Sent');
                        }               
                    });
                  return false;
                 });
            });
            function getUserInputItems(){
                var new_html = '';
                var user_input = document.getElementById('form').elements[0].value;
                new_html = user_input + '<br>'
                document.getElementById('form_info').innerHTML = new_html
            }
        </script>  
    </body>
</html>
